{{ form_start(form) }}
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            {{ form_widget(form.nom) }}
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
        {{ form_widget(form.prenom) }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
         {{ form_widget(form.age) }}
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            {{ form_widget(form.poste) }}
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group">
        <div class="col-sm-12">
        {{ form_widget(form.experience) }}
        </div>
    </div>
</div>

    <button class="btn btn-primary">{{ button_label|default('Ajouter') }}</button>
{{ form_end(form) }}
