{% extends 'base.html.twig' %}

{% block title %}Edit Employer{% endblock %}

{% block body %}
    <h1>Edit Employer</h1>
    {{ include('employer/_form.html.twig', {'button_label': 'Enregister'}) }}
{% endblock %}
