{% extends 'base.html.twig' %}

{% block title %}Employer {% endblock %}

{% block body %}
{% for message in app.flashes('succes') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}
        <h1>Employer Liste</h1>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Age</th>
                <th>Poste</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for employer in employers %}
                <tr>
                    <td>{{ employer.nom }}</td>
                    <td>{{ employer.prenom }}</td>
                    <td>{{ employer.age }}</td>
                    <td>{{ employer.poste }}</td>
                    <td style="display: flex;flex-direction: row">
                        <a href="{{ path('employer_show', {'id': employer.id}) }}" class="lien"><button class="btn btn-success">Detail</button></a>
                        <a href="{{ path('employer_edit', {'id': employer.id}) }}" class="lien"><button class="btn btn-warning">Editer</button></a>
                        {{ include('employer/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('employer_new') }}" class="lien"><button class="btn btn-primary">Nouveau employer</button></a>

{% endblock %}
