{% extends 'base.html.twig' %}

{% block title %}Employer{% endblock %}

{% block body %}
    <h1 class="text text-muted">{{ employer.nom }}</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ employer.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ employer.prenom }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ employer.age }}</td>
            </tr>
            <tr>
                <th>Poste</th>
                <td>{{ employer.poste }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
