{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
<div class="container">
    <div class="jumbotron pt-2 pb-2">
        <h1 class="text text-muted">Register</h1>

        {{ form_start(registrationForm) }}
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    {{ form_row(registrationForm.username) }}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    {{ form_row(registrationForm.email) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    {{ form_row(registrationForm.adresse) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    {{ form_row(registrationForm.tel) }}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Password'
                    }) }}
                </div>
            </div>
        </div>
        <div class="form-group">
            {{ form_row(registrationForm.agreeTerms) }}
        </div>
        <button type="submit" class="btn btn-primary">Sauvegarder</button>
        {{ form_end(registrationForm) }}

        <a href="{{ path('app_login') }}">se connecter</a>
    </div>

</div>

{% endblock %}
