<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
        <style>
            .lien{
                color: white;
                text-decoration: none;
                margin-left: 12px;
            }
            #experience_titre{
                margin: 21px 0;
            }
            #experience_description{
                margin-bottom: 21px;
            }
        </style>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">TESTE CRUD</a>
                </div>
                {% if app.user %}
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('employer_index') }}">Employer</a></li>
                    <li><a href="{{ path('experience_index') }}">Experince</a></li>
                </ul>
                <ul style="float: right">
                    <li><a class="img-circle">{{ app.user.username }}</a></li>
                    <li><a href="{{ path('app_logout') }}">deconnection</a></li>
                </ul>
            </div>
            {% endif %}
        </nav>
        <div class="container">
         {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
