{{ form_start(form) }}
    <div class="row">
        <div class="form-group mt-2">
            <div class="col-sm-6">
                {{ form_widget(form.titre) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group mt-2">
            <div class="col-sm-6">
                {{ form_widget(form.description) }}
            </div>
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-primary">{{ button_label|default('Ajouter') }}</button>
    </div>
{{ form_end(form) }}
