{% extends 'base.html.twig' %}

{% block title %}Modification{% endblock %}

{% block body %}
    <h1 class="text text-muted">Modification</h1>
    {{ include('experience/_form.html.twig', {'button_label': 'Engistrer'}) }}

{% endblock %}
