{% extends 'base.html.twig' %}

{% block title %}Experience{% endblock %}

{% block body %}
    {% for message in app.flashes('succes') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <h1 class="text text-muted">Experience</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for experience in experiences %}
            <tr>
                <td>{{ experience.titre }}</td>
                <td>{{ experience.description }}</td>
                <td style="display: flex;flex-direction: row">
                    <a href="{{ path('experience_show', {'id': experience.id}) }}" class="lien"><button class="btn btn-success">Detail</button></a>
                    <a href="{{ path('experience_edit', {'id': experience.id}) }}" class="lien"><button class="btn btn-warning">Editer</button></a>
                    {{ include('experience/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('experience_new') }}" class="lien"><button class="btn btn-primary">Nouveau experience</button></a>
{% endblock %}
