{% extends 'base.html.twig' %}

{% block title %}Experience{% endblock %}

{% block body %}
    <h1 class="text text-muted">Experience</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ experience.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ experience.description }}</td>
            </tr>
        </tbody>
    </table>


{% endblock %}
